.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-lg-5 {
    width: 50%;
}

#contactForm {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 150px;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}


.container {
    display: flex;
    justify-content: center;
}

.contenedorForm {
    margin-bottom: 100px;
}

.contenedorFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer1{
    background-color: #8b848430;
    padding: 15px;
}

.topnav{
    padding: 0px !important;
}

.logoEmpresa {
    width: 51px;
}















@media (max-width: 708px) {
    .row {
        flex-direction: column-reverse;
    }
    .row1{
        display: flex;
    justify-content: center;
    }
}